reCAPTCHA details.txt
.project_venv/
.vscode/

db.sqlite3

main/__pycache__/
main/migrations/
main/migrations/__pycache__/

main_app/.env
main_app/__pycache__/

users/__pycache__/
users/migrations/
users/migrations/__pycache__/

testing/__pycache__
testing/management/__pycache__
testing/management/commands/__pycache__
testing/load_test.py

cpython-311.pyc
accounts.json
example_routes.json
static/miscellaneous.js
static/miscellaneous.css

media/
