{% extends 'base.html' %}
{% load static %}

{% block extend_head %}
    <title>Generate Alerts</title>
{% endblock %}

{% block content %}
    <h3 id="generate_alerts">Generate Alerts</h3>

    <div id="map"></div>
{% endblock %}

{% block extend_footer %}
    <script type="text/javascript">
        var mapboxPublicToken = "{{ mapbox_public_token | safe }}";
        var mapboxAccessToken = "{{ mapbox_access_token | safe }}";
        var base_country = "{{ base_country | safe }}";
    </script>

    <script src="{% static 'generate_alerts.js' %}"></script>
    
    <script src="{% static 'buttons/toggleAreaVisibility.js' %}"></script>
    <script src="{% static 'buttons/closeInfoWindows.js' %}"></script>
    <script src="{% static 'buttons/recenter.js' %}"></script>
    <script src="{% static 'buttons/toggleMapMode.js' %}"></script>

    <script src="{% static 'map/labels.js' %}"></script>
    <script src="{% static 'map/markers.js' %}"></script>

    <img id="hiddenGenerateAlertIcon" src="{% static 'map/markers/generateAlert.png' %}">
{% endblock %}