{% extends 'base.html' %}
{% load static %}


{% block extend_head %}
    <title>Traffic Info</title>
{% endblock %}


{% block content %}
    <h3 id="traffic_info">Traffic Info</h3>

    <div id="map"></div>
{% endblock %}


{% block extend_footer %}
    <script type="text/javascript">
        var mapboxPublicToken = "{{ mapbox_public_token | safe }}";
        var mapboxAccessToken = "{{ mapbox_access_token | safe }}";
        var base_country = "{{base_country|safe}}";
    </script>

    <script src="{% static 'traffic_info.js' %}"></script>

    <script src="{% static 'buttons/closeInfoWindows.js' %}"></script>
    <script src="{% static 'buttons/recenter.js' %}"></script>
    <script src="{% static 'buttons/toggleMapMode.js' %}"></script>

    <script src="{% static 'map/labels.js' %}"></script>
    <script src="{% static 'map/markers.js' %}"></script>

    <img id="hiddenTrafficInfoGreenIcon" src="{% static '/map/markers/trafficInfoGreen.png' %}">
    <img id="hiddenTrafficInfoYellowIcon" src="{% static '/map/markers/trafficInfoYellow.png' %}">
    <img id="hiddenTrafficInfoRedIcon" src="{% static '/map/markers/trafficInfoRed.png' %}">
{% endblock %}