SECRET_KEY = 'your_secret_key'
GOOGLE_API_KEY = 'your_google_api_key'

RECAPTCHA_PUBLIC_KEY = 'your_recaptcha_public_key'
RECAPTCHA_PRIVATE_KEY = 'your_recaptcha_private_key'

CLIENT_ID = 'your_client_id'
CLIENT_SECRET = 'your_client_secret'

EMAIL_HOST_USER = 'your_email_host_user'
EMAIL_HOST_PASSWORD = 'your_email_host_password'

DEBUG = True
ALLOWED_HOSTS = 'localhost'