* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier Prime', monospace;
  padding: 0;
  margin: 0;
  color: #2a2a2a;
  background-color: #fafafa;
}
body, html {
  height: 100%;
}

#signinform, #signupform, #resetpasswordform, #feedbackform {
  text-align: center;
}
#signinform label, #signupform label, #resetpasswordform label, #feedbackform label {
  text-align: left;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 1.2em;
  margin-bottom: 1em;
}

h3 {
  text-align: center;
  color: #333;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.sign_in-container, .sign_up-container, .reset_password-container, .feedback-container {
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 80px auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.forgot-password, .signup-link, .signin-link {
  text-align: center;
  margin: 20px 0;
  color: #333;
}
.forgot-password a, .signup-link a, .signin-link a {
  color: #007acc;
  text-decoration: none;
}
.forgot-password a:hover, .signup-link a:hover, .signin-link a:hover {
  text-decoration: underline;
}

.additional-options {
  margin-top: 20px;
  text-align: center;
}

.social-login {
  text-align: center;
}
.social-icons a {
  display: inline-block;
  margin: 0 8px;
}

#map {
  width: 100%;
  height: 85vh;
}
.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#hiddenTrafficInfoGreenIcon, #hiddenTrafficInfoYellowIcon, #hiddenTrafficInfoRedIcon, #hiddenGenerateAlertIcon, #hiddenTrafficLightIcon, #hiddenTrafficLightGreenIcon, #hiddenTrafficLightRedIcon, #hiddenGenerateReportIcon {
  display: None;
}

.logo {
  width: 150px;
  padding: 8px;
}

.navbar-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1500;
  transition: 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.navbar-button:hover {
  background-color: #005fa3;
}

.sidenav {
  display: none;
  position: fixed;
  left: 0px;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #f1f1f1;
  z-index: 1000;
  overflow-x: hidden;
  transition: 0.3s;
}
.sidenav.open {
  display: block;
}
.sidenav li a {
  display: block;
  padding: 15px 20px;
  color: #333;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
}
.sidenav li a:hover {
  background-color: #b0dee5;
  color: black;
}
.sidenav li a.active {
  background-color: #d7eef2;
  color: #111111;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  max-width: 200px;
  background-color: #eaeaea;
  position: fixed;
  height: 100%;
  overflow: auto;
}
ul.sidenav li a {
  display: block;
  color: #2a2a2a;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 1.1em;
}
ul.sidenav li a.active {
  background-color: #007acc;
  color: white;
}
ul.sidenav li a:hover:not(.active) {
  background-color: #b0dee5;
  color: white;
}

.div-container {
  margin-left: 0px;
  padding: 15px;
  height: auto;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
  }
  ul.sidenav li a {
    float: left;
    padding: 15px;
    text-align: center;
  }

  #map {
    height: 75vh;
  }

  .map-label {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

input[type=text], input[type=email], input[type=password], select, textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 18px;
  font-size: 1.1em;
  resize: vertical;
}

::-webkit-input-placeholder {
  color: #555;
}
:-ms-input-placeholder {
  color: #555;
}
::placeholder {
  color: #555;
}

select.selection option {
  color: #2a2a2a;
}

input, select {
  color: #2a2a2a;
  font-family: 'Courier Prime', monospace;
}

button[type=submit] {
  background-color: #007acc;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
}
button[type=submit]:hover {
  background-color: #005fa3;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 14px;
  cursor: pointer;
}
.checkmark {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #d3d0d0;
}
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.check-container input:checked ~ .checkmark {
  background-color: orangered;
}
.checkmark:after {
  display: none;
}
input:checked ~ .checkmark:after {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 36px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #d7eef2;
}
input:focus + .slider {
  box-shadow: 0 0 1px #9c07b6;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  width: 100%;
  font-family: 'Courier Prime', monospace;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 10px;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007acc;
  color: white;
}

.selected {
  background-color: #005fa3;
}

/* #payment-form {
  width: 100%;
}

input, select, .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors
} */
input:hover, .btn:hover {
  opacity: 1;
}

.map-button {
  background-color: white;
  border: 0px solid #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #191919;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 38px;
  margin: 10px 10px 0px 0px;  /* top, right, bottom, left */
  padding: 0px 5px;
  text-align: center;
  z-index: 9999;
  pointer-events: auto;
}
.night-mode .map-button {
  background-color: #000;
  color: #969696;
  border: 2px solid #444;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.map-label {
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 1.2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  color: rgb(25, 25, 25);
  cursor: default;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 38px;
  margin: 10px 10px 10px 10px;  /* top, right, bottom, left */
  padding: 5px;
  text-align: center;
}
.night-mode .map-label {
  background-color: black;
  color: #969696;
  border: 2px solid #444;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl-geocoder {
  margin-bottom: 15px;
}
.mapboxgl-ctrl-geocoder {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0px;
  padding: 0 !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-fullscreen {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  margin: 10px 10px 0px 0px;  /* top, right, bottom, left */
  padding: 0 5px;
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  color: black;
}
.night-mode .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-fullscreen {
  background-color: black;
  color: rgb(150, 150, 150);
  border: 2px solid #444;
  box-shadow: 0 2px 6px rgba(255, 255, 255, .1);
}
.mapboxgl-ctrl-geocoder input[type="text"] {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}
.night-mode .mapboxgl-ctrl-geocoder input[type="text"] {
  background-color: black;
  color: rgb(150, 150, 150);
  border: 2px solid #444;
  box-shadow: 0 2px 6px rgba(255, 255, 255, .1);
}
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}
.night-mode .mapboxgl-ctrl-geocoder .suggestions {
  background-color: black;
  color: rgb(150, 150, 150);
  box-shadow: 0 2px 6px rgba(255, 255, 255, .1);
}
.night-mode .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--suggestion {
  background-color: black;
  color: rgb(150, 150, 150);
}
.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--suggestion.active {
  background-color: rgb(150, 150, 150);
}
.night-mode .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--suggestion.active {
  background-color: black;
}