* {box-sizing: border-box;}

body {
  font-family: 'Courier Prime', monospace;
  /* display: flex;   DON'T USE display:flex */
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

#signinform, #signupform, #resetpasswordform, #feedbackform {
  text-align: center;
}
#signinform label, #signupform label, #resetpasswordform label, #feedbackform label {
  text-align: left;
}

h2 {
  text-align: center;
  color: #333;
}

.sign_in-container, .sign_up-container, .reset_password-container, .feedback-container {
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 100px auto;
  background-color: #fdfefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password, .signup-link, .signin-link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000000;
}

.forgot-password a, .signup-link a, .signin-link a {
  color: blue;
  text-decoration: none;
}

.forgot-password a:hover, .signup-link a:hover, .signin-link a:hover {
  text-decoration: underline;
}

.additional-options {
  margin-top: 20px;
  text-align: center;
}

.social-login {
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 5px;
}

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the map stays behind other content */
}


#map-route {
  height: 80%;
}


#traffic_info {
  height: 95%;
}

#hiddenTrafficInfoGreenIcon {
  display: None;
}
#hiddenTrafficInfoYellowIcon {
  display: None;
}
#hiddenTrafficInfoRedIcon {
  display: None;
}


#generate_alerts {
  height: 95%;
}

#hiddenGenerateAlertIcon {
  display: None;
}


#traffic_lights {
  height: 95%;
}

#hiddenTrafficLightIcon {
  display: None;
}
#hiddenTrafficLightGreenIcon {
  display: None;
}
#hiddenTrafficLightRedIcon {
  display: None;
}


#generate_reports {
  height: 95%;
}

#hiddenGenerateReportIcon {
  display: None;
}


.logo {
  width: 150px;
  padding: 8px;
}


ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  max-width: 100px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #d7eef2;
  color: #111111;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #b0dee5;
  color: black;
}

.div-container {
  margin-left: 100px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  .div-container {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

input[type=text], input[type=email], input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


::-webkit-input-placeholder { /* Edge */
  color: #2a2a2a;
  font-family: 'Courier Prime', monospace;
}
:-ms-input-placeholder { /* Internet Explorer */
  color: #2a2a2a;
  font-family: 'Courier Prime', monospace;
}
::placeholder {
  color: #2a2a2a;
  font-family: 'Courier Prime', monospace;
}

select.selection option{
  color: #2a2a2a;
  font-family: 'Courier Prime', monospace;
}

input, select{
  color: #2a2a2a;
  font-family: 'Courier Prime', monospace;

}

/* The container */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #d3d0d0;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.check-container input:checked ~ .checkmark {
  background-color: orangered;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-container:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d7eef2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9c07b6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button[type=submit] {
  background-color: #d7eef2;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #b0dee5;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  font-family: 'Courier Prime', monospace;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d7eef2;
  color: black;
}

.selected {
  background-color: #b0dee5;
  color: #FFF;
}

#payment-form {
  width: 100%;
}

/* style inputs and link buttons */
input, select, .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover, .btn:hover {
  opacity: 1;
}

.map-button {
  background-color: white;
  border: 2px solid #fff;
  border-radius: 3px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, .3); */
  color: rgb(25, 25, 25);
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 38px;
  margin: 10px 10px 0px 0px;  /* top, right, bottom, left */
  padding: 0 5px; /* 5px 10px */
  text-align: center;
}

.map-label {
  background-color: white;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  color: rgb(25, 25, 25);
  cursor: default;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 38px;
  margin: 10px 10px 0px 0px;  /* top, right, bottom, left */
  padding: 0 5px;
  text-align: center;
}

/* Hide the label when screen width is less than 900px */
@media screen and (max-width: 900px) {
  .map-label {
    display: none;
  }
}