{% extends 'base.html' %}
{% load static %}

{% block extend_head %}
    <title>Reset Password</title>
{% endblock %}


{% block content %}
    <h3>Django Mapbox Web App - Reset Password</h3>

    <div class="reset_password-container">
        <h2>Reset Password</h2>

        <form id="resetpasswordform" method="POST" action="/reset-password">
            {% csrf_token %}
            
            <label for="id_username">Email</label>
            {{ form.username }}
            
            <button type="submit">Reset password</button>
        </form>

        <p class="signin-link">
            Have an account? 
            <a href="{% url 'users:sign-in' %}">Sign in here</a>
        </p>

        <p class="signup-link">
            Don't have an account? 
            <a href="{% url 'users:sign-up' %}">Sign up now</a>
        </p>
    </div>
{% endblock %}


{% block extend_footer %}
    <script type="text/javascript">
        // Create a variable that can be used in main.js
        var recaptcha_site_key = '{{recaptcha_site_key|safe}}'
    </script>
{% endblock %}
